.App {
  text-align: center;
  background-color: #e1ecff;
  width: 65%;
  margin: 1rem auto;
  padding: 1rem;
  border: 1px solid lightgrey;
  border-radius: 5px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.ant-col {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
